*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.warp{
  width: 100%;
  height: 100vh;
  background-color: blanchedalmond;
  position: relative;
}
.title{
  width: 100%;
  text-align: center;
  position: absolute;
  top: 200px;
}
h1{
  font-size: 20px;
  font-weight: bolder;
}
.click{
  display: block;
  width: 150px;
  height: 40px;
  background-color: #fff;
  color: #000;
  line-height: 40px;
  text-align: center;
  border-radius: 20px;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 14px;
  font-weight: bolder;

}
.out{
  width: 100%;
}